/* ScrollablePage.css */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden; /* Hide the default body overflow */
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .background {
    background: url('../../assets/images/bg-1.jpg') center/cover fixed no-repeat; /* Replace 'your-background-image.jpg' with your image URL */
    flex-grow: 1;
    transition: height 0.3s ease; /* Add a smooth transition effect */
  }
  
  