// src/Card.scss

.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 450px;
  height: 250px;
  margin: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  transition: height 0.3s ease;
  background: linear-gradient(45deg, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0));
  color: #fff;
  opacity: 0;
  font-family: 'Coolvetica';
  animation: fadeInUp 1s 1.5s;
  animation-fill-mode: forwards;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    height: 420px;
    .card-text {
      ul {
        opacity: 1;
        animation: fadeInLeft 1s;
      }
    }
  }

  .card-img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 12px 12px 0 0;
    filter: brightness(0.9) contrast(1.2);
  }

  .card-body {
    padding: 20px;
    padding-top: 0px;
  }

  .card-title {
    font-size: 2.5rem;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    text-decoration: none;
  }

  .card-text {
    font-size: 1.5rem;
    margin-bottom: 15px;
    opacity: 0.9;
    color: #0ac87f;

    ul {
      opacity: 0;
      list-style: none;
      padding: 0;
      margin-top: 15px;
      text-align: left;

      li {
        margin-bottom: 5px;
        color: #fff;
        &:hover {
          animation: headShake 0.4s;
          color: #0ac87f;
        }
        &:before {
          content: '•';
          color: #fff;
          margin-right: 5px;
        }
      }
    }
  }
}

.cardPage {
  text-align: center;
}

.PaginationContainer {
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.CardContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}

// Your existing styles

.pagination-controls {
  margin-top: 20px;
}

#prev {
  // opacity: 0;
  animation: bounceInLeft 2.5s 1s;
  animation-fill-mode: forwards;
}
#next {
  // opacity: 0;
  animation: bounceInRight 2.5s 1s;
  animation-fill-mode: forwards;
}

button {
  // padding: 15px; // Increase the padding for better spacing
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 250, 0, 0.7);
  border: none;
  font-size: 40px; // Increase the font-size for a larger icon

  &:disabled {
    color: rgb(255, 250, 0, 0.7);
    opacity: 0.5;
    cursor: not-allowed;
    // animation: backOutRight 1s;
    // display: none;
  }

  &:hover:not(:disabled) {
    // background-color: #007bff;
    color: rgb(255, 250, 0);
    // animation: headShake 1s;
  }
}
